html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after {
	content: '';
	content: none;
}

q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my style */
html {
	width: 100%;
	font-size: 100%;
}

body {
	width: 100%;
	font-size: 100%;
	font-family: 'Noto Sans KR',  sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #676767;
}

legend, caption, .blind {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0px;
	height: 0px;
	font-size: 0;
	line-height: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img, fieldset, iframe {
	border: 0 none;
}

figure {
	text-align: center;
}

figcaption {
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

ul:after, ol:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}

button {
	border: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
	*overflow: visible;
}

input::-ms-clear {
	display: none;
}

textarea {
	resize: none;
}

/* my option */
.block {
	display: block;
}

.inline_b {
	display: inline-block;
}

.i_block {
	display: inline-block !important;
}

.w-auto {
	width: auto;
}

.text_l {
	text-align: left;
}

.text_c {
	text-align: center;
}

.text_r {
	text-align: right;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.w_max {
	width: 100%;
}

.clear {
	clear: both;
}

.none {
	display: none;
}

.btn_none {
	padding: 0;
	border: 0;
	background: none;
	outline: none;
}

.btn_none:focus {
	outline: none;
}

.btn_none:active {
	box-shadow: none;
}

.btn_none:active:focus {
	outline: none;
}

.data_none {
	width: 100% !important;
	margin: 0 !important;
	padding: 30px 0 !important;
	text-align: center !important;
}

input[type=text]:-ms-clear {
	display: none;
}

.relative {
	position: relative;
}

.ellipsis {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* alert message */
#alert-div {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
}

#alert-div .alert {
	margin-bottom: 2px;
}

/* checks */
.checks {
	position: relative;
}

.checks label {
	padding-top: 0 !important;
}

.checks input[type="checkbox"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.checks input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	margin: 0;
	/*padding-left: 20px;*/
	cursor: pointer;
	font-weight: normal;
	line-height: normal !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.checks input[type="checkbox"] + label:before {
	content: '';
	/*position: absolute;
                top: 3px;
                left: 0;*/
	float: left;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;
}

.checks input[type="checkbox"] + label span {
	display: block;
	overflow: hidden;
}

.checks input[type="checkbox"]:checked + label:before {
	content: '\2714';
	color: #3c763d;
	border-color: #adb8c0;
}

.checks input[type="radio"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.checks input[type="radio"] + label {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	line-height: normal !important;
	font-weight: normal;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.checks input[type="radio"] + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 15px;
	height: 15px;
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 100%;
}

.checks input[type="radio"]:checked + label:before {
	border-color: #adb8c0;
}

.checks input[type="radio"]:checked + label:after {
	content: '';
	position: absolute;
	top: 7px;
	left: 4px;
	width: 7px;
	height: 7px;
	background: #99a1a7;
	border-radius: 100%;
}

.errorBox {
	margin-bottom: 20px;
}

/* youtube, google map */
/*.embed_box {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden; 
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	> button{
		position: absolute;
		z-index: 50;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
	}
}*/
.input-icon {
	position: relative;
}

.input-icon .fa {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}

.has-success .control-label {
	color: #00af68 !important;
}

.has-success .form-control {
	border-color: #00af68 !important;
}

.has-success .fa {
	color: #00af68 !important;
}

.has-success .help-block {
	color: #00af68 !important;
}

.has-warning .control-label {
	color: #e5b821 !important;
}

.has-warning .form-control {
	border-color: #e5b821 !important;
}

.has-warning .fa {
	color: #e5b821 !important;
}

.has-warning .help-block {
	color: #e5b821 !important;
}

.has-error .control-label {
	color: #e55a51 !important;
}

.has-error .form-control {
	border-color: #e55a51 !important;
}

.has-error .fa {
	color: #e55a51 !important;
}

.has-error .help-block {
	color: #e55a51 !important;
}

@media (min-width: 768px) {
	.modal {
		text-align: center;
		padding: 0 !important;
	}
	.modal:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}
	.modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}
}
